body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
    text-align: right;
    width: 100%;
}
header nav ul {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    text-decoration: none;
}
main {
    padding: 50px;
}
h1 {
    font-size: 20px;
    color: #202020;
    padding-bottom: 20px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    color: #202020;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    color: #202020; 
}
h3:after {
    content:'';
    display:inline-block;
    width:100%; height:100%;
    border-bottom:1px solid #000;
} 
td {
    padding: 3px;
}
.col_l {
    text-align: right;
}
.col_num {
    text-align: right;
}
#continents, #countries, #cities, #weather {
    float: left;
    margin: 1em 1em 0 0;
    padding: 3px;
    width: 20%;
}
#weather{
    border: 1px solid #202020;
}
button {
    background-color: #202020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
}
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #fff;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #202020;
    overflow: hidden;
    padding: 10px 20px;
    width: 100%;
}
