extends layout

block content
    h1= title
    h2= subtitle
    main
        div#continents
            button#gcont Click me to show the Continents
            div#contdata
        div#countries
            div#countdata 
                h3 The Countries
        div#cities
            div#citydata
              h3 The Cities
        div#weather
            div#weatherdata
              h3 How's the weather
